<!-- 以下をindex.ejsに記述 -->
<%# var location = {page_id:'top'} %>
<%#- include('./project/_p-top-blog-cards', {page: location}) %>

<div class="p-blog-card">
    <figure class="p-blog-card__img">
      <img src="<%= src %>" alt="<%= alt %>" />
    </figure>
    <div class="p-blog-card__textbox">
      <h3 class="p-blog-card__title"><%= title %></h3>
      <p class="p-blog-card__text"><%= text %></p>
    </div>
    <div class="p-blog-card__meta">
      <span class="p-blog-card__category"><%= category %></span>
      <time class="p-blog-card__time" datetime="2021-07-20"><%= time %></time>
    </div>
</div>
