<div class="p-related-blog-card">
  <a href="#" class="p-related-blog-card__link">
    <div class="p-related-blog-card__img">
      <img src="<%= src %>" alt="<%= alt %>" />
    </div>
    <div class="p-related-blog-card__textbox">
      <h3 class="p-related-blog-card__title"><%= title %></h3>
      <p class="p-related-blog-card__text"><%= text %></p>
    </div>
    <div class="p-related-blog-card__meta">
      <span class="p-related-blog-card__category"><%= category %></span>
      <time class="p-related-blog-card__time" datetime="2021-07-20"><%= time %></time>
    </div>
    </a>
</div>