<%# 以下を該当箇所に記述 %>
<%#- include('./project/_p-sub-fv', {page: location}) %>

<% 
  imagePath = "./images";
%>

<div class="p-sub-fv">
  <div class="p-sub-fv__content">
    <div class="p-sub-fv__img">
      <picture>
        <source srcset="<%= imagePath %>/<%= name %>/fv-<%= name %>-pc.jpg" media="(min-width: 768px)" />
        <img src="<%= imagePath %>/<%= name %>/fv-<%= name %>-sp.jpg" alt="<%= alt %>" />
      </picture>
    </div>
    <h1 class="p-sub-fv__title"><%= title %></h1>
  </div>
</div>