<div class="p-top-news-item">
	<div class="p-top-news-item__head">
		<time datetime="<%= datetime %>" class="p-top-news-item__date"><%= time %></time>
		<span class="p-top-news-item__category"><%= category %></span>
		<a href="<%= src %>" class="p-top-news-item__link">
			<h2 class="p-top-news-item__body">
				<span class="p-top-news-item__title"><%= title %></span>
			</h2>
		</a>
	</div>
</div>