<!DOCTYPE html>
<html lang="ja">
  <%- include('./common/_head') %>
  <body>
    <% var location = {page_id:'blog'} %>

    <!-- ヘッダー -->
    <%- include('./project/_p-header') %>

    <!-- 下層ファーストビュー -->
    <%- include('./project/_p-sub-fv', {page: location}) %>
    
    <!-- ブログセクション -->
    <section class="p-sub-blog l-sub-blog">
      <div class="p-sub-blog__inner">
        <!-- パンくずリスト -->
        <div class="p-sub-blog__breadcrumb">
          <%-include('./component/_c-breadcrumb',{
            categoryName:'ブログ記事一覧',
            postName:'',
            src:'blog.html'
            })
          %>
        </div>
        <!-- ブログリスト -->
        <div class="p-sub-blog__list">
          <%- include('./project/_p-sub-blog-cards', {page: location}) %>
        </div>
        <!-- ページネーション -->
        <div class="p-sub-blog__pagination">
          <%- include('./component/_c-pagination') %>
        </div>
      </div>
    </section>

    <!-- お問い合わせ -->
    <section class="l-common-contact">
      <%- include('./project/_p-common-contact') %>
    </section>

    <!-- フッター -->
    <%- include('./project/_p-footer') %>

    <!-- ページトップ -->
    <%- include('./component/_c-pagetop') %>
  </body>
</html>
