<!DOCTYPE html>
<html lang="ja">
  <%- include('./common/_head') %>
  <body>
    <% var location = {page_id:'blog'} %>

    <!-- ヘッダー -->
    <header class="l-header">
      <%- include('./common/_p-header') %>
    </header>

    <!-- 下層ファーストビュー -->
    <%- include('./project/_p-sub-fv', {page: location, name: 'blog', alt: 'ブログ', title: 'ブログ'}) %>
    
    <!-- パンくずリスト -->
    <div class="l-breadcrumb">
      <div class="l-inner">
        <%-include('./component/_c-breadcrumb',{
          categoryName:'ブログ記事一覧',
          postName:'',
          src:'blog.html'
          })
        %>
      </div>
    </div>

    <!-- ブログセクション -->
    <section class="l-sub-blog">
      <%- include('./project/_p-sub-blog', {page: location}) %>
    </section>

    <!-- お問い合わせ -->
    <section class="l-common-contact">
      <%- include('./project/_p-common-contact') %>
    </section>

    <!-- フッター -->
    <%- include('./common/_p-footer', {page: location}) %>

    <!-- ページトップ -->
    <%- include('./component/_c-pagetop') %>
  </body>
</html>
