<!DOCTYPE html>
<html lang="ja">
  <%- include('./common/_head') %>
  <body>
    <% var location = {page_id:'content'} %>

    <!-- ヘッダー -->
    <header class="l-header">
      <%- include('./common/_p-header') %>
    </header>

    <!-- 下層ファーストビュー -->
    <%- include('./project/_p-sub-fv', {page: location}) %>
    
    <!-- パンくずリスト -->
    <div class="l-breadcrumb">
      <div class="l-inner">
        <%-include('./component/_c-breadcrumb',{
          categoryName:'事業内容',
          postName:'',
          src:'content.html'
          })
        %>
      </div>
    </div>

    <!-- 事業内容セクション -->
    <section class="l-sub-content">
      <%- include('./project/_p-sub-content') %>
    </section>

    <!-- お問い合わせ -->
    <section class="l-common-contact">
      <%- include('./project/_p-common-contact') %>
    </section>

    <!-- フッター -->
    <%- include('./common/_p-footer') %>

    <!-- ページトップ -->
    <%- include('./component/_c-pagetop') %>
  </body>
</html>