<!DOCTYPE html>
<html lang="ja">
  <%- include('./common/_head') %>
  <body>
		<% var location = {page_id:'contact'} %>

    <!-- ヘッダー -->
    <header class="l-header">
      <%- include('./common/_p-header') %>
    </header>

    <!-- 下層ファーストビュー -->
    <%- include('./project/_p-sub-fv', {page: location}) %>

    <!-- パンくずリスト -->
    <div class="p-sub-contact__breadcrumb">
      <div class="p-sub-contact__inner l-inner">
        <%-include('./component/_c-breadcrumb',{
          categoryName:'お問い合わせ',
          postName:'',
          src:'contact.html'
          })
        %>
      </div>
    </div>

    <section class="l-sub-contact">
      <%- include('./project/_p-sub-contact', {page: location}) %>
    </section>

    <!-- フッター -->
    <%- include('./common/_p-footer') %>

    <!-- ページトップ -->
    <%- include('./component/_c-pagetop') %>
  </body>
</html>