<!DOCTYPE html>
<html lang="ja">
  <%- include('./common/_head') %>
  <body>
    <% var location = {page_id:'top'} %>

    <!-- ヘッダー -->
    <%- include('./project/_p-header') %>
    <!-- お問い合わせ -->
    <%- include('./project/_p-common-contact') %>
    <!-- フッター -->
    <%- include('./project/_p-footer') %>

    <!-- ページトップ -->
    <%- include('./component/_c-pagetop') %>


  </body>
</html>
