<!DOCTYPE html>
<html lang="ja">
  <%- include('./common/_head') %>
  <body>
    <% var location = {page_id:'top'} %>

    <!-- ヘッダー -->
    <header class="l-header">
      <%- include('./project/_p-header') %>
    </header>

    <!-- mv -->
    <%- include('./project/_p-mv') %>

    <!-- news -->
    <section class="l-top-news">
        <%- include('./project/_p-top-news') %>
    </section>

    <!-- content -->
    <section class="l-top-contents">
      <%- include('./project/_p-top-contents', {page: location}) %>
    </section>

    <!-- works -->
    <section class="l-top-work">
      <%- include('./project/_p-top-work', {page: location}) %>
    </section>

    <!-- overview -->
    <section class="l-top-overview">
      <%- include('./project/_p-top-overview', {page: location}) %>
    </section>

    <!-- blog -->
    <section class="l-top-blog">
      <%- include('./project/_p-top-blog-cards', {page: location}) %>
    </section>

    <!-- お問い合わせ -->
    <section class="l-common-contact">
      <%- include('./project/_p-common-contact') %>
    </section>

    <!-- フッター -->
    <%- include('./project/_p-footer') %>

    <!-- ページトップ -->
    <section class="l-pagetop">
      <%- include('./component/_c-pagetop') %>
    </section>


  </body>
</html>
