<!DOCTYPE html>
<%-include('./component/_c-breadcrumb',{
	categoryName:'お知らせ',
	postName:'',
	src:'news.html'
	})
%>
<html lang="ja">
  <%- include('./common/_head') %>
  <body>
    <!-- ヘッダー -->
    <%- include('./project/_p-header') %>

    <!-- ページネーション -->
    <%- include('./component/_c-pagination') %>

    <!-- フッター -->
    <%- include('./project/_p-footer') %>

    <!-- ページトップ -->
    <%- include('./component/_c-pagetop') %>
  </body>
</html>
