<!DOCTYPE html>
<html lang="ja">
  <%- include('./common/_head') %>
  <body>
    <% var location = {page_id:'overview'} %>

    <!-- ヘッダー -->
    <header class="l-header">
      <%- include('./project/_p-header') %>
    </header>

    <!-- 下層ファーストビュー -->
    <%- include('./project/_p-sub-fv', {page: location}) %>
    
    <!-- 企業概要コンテンツ -->
    <div class="p-sub-overview l-sub-overview">
      <div class="p-sub-overview__inner l-inner">
        
        <!-- パンくずリスト -->
        <div class="p-sub-overview__breadcrumb">
          <%-include('./component/_c-breadcrumb',{
            categoryName:'企業概要',
            postName:'',
            src:'overview.html'
            })
          %>
        </div>
        
        <!-- 企業概要の説明 -->
        <dl class="p-sub-overview__list">
          <%- include('./project/_p-sub-overview-list') %>
        </dl>

        <!-- マップ -->
        <div class="p-sub-overview__map p-map">
          <div class="p-map__iframe">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3241.7477985332175!2d139.74324421438325!3d35.6585848388228!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188bbd9009ec09%3A0x481a93f0d2a409dd!2z5p2x5Lqs44K_44Ov44O8!5e0!3m2!1sja!2sjp!4v1645740742483!5m2!1sja!2sjp" allowfullscreen="" loading="lazy"></iframe>
          </div>
        </div>

      </div>
    </div>

    <!-- お問い合わせ -->
    <section class="l-common-contact">
      <%- include('./project/_p-common-contact') %>
    </section>

    <!-- フッター -->
    <%- include('./project/_p-footer') %>

    <!-- ページトップ -->
    <%- include('./component/_c-pagetop') %>
  </body>
</html>