<!DOCTYPE html>
<html lang="ja">
  <%- include('./common/_head') %>
  <body>
    <% var location = {page_id:'overview'} %>

    <!-- ヘッダー -->
    <header class="l-header">
      <%- include('./project/_p-header') %>
    </header>

    <!-- 下層ファーストビュー -->
    <%- include('./project/_p-sub-fv', {page: location}) %>
    
    <!-- 企業概要コンテンツ -->
    <div class="p-sub-overview l-sub-overview">
      <div class="p-sub-overview__inner l-inner">
        
        <!-- パンくずリスト -->
        <div class="p-sub-overview__breadcrumb">
          <%-include('./component/_c-breadcrumb',{
            categoryName:'企業概要',
            postName:'',
            src:'overview.html'
            })
          %>
        </div>
        
        <!-- 企業概要の説明 -->
        <dl class="p-sub-overview__list">
          <%- include('./project/_p-sub-overview-list') %>
        </dl>
        
        <!-- マップ -->
        <div class="p-sub-overview__map">
          <%- include('./project/_p-map') %>
        </div>

      </div>
    </div>

    <!-- お問い合わせ -->
    <section class="l-common-contact">
      <%- include('./project/_p-common-contact') %>
    </section>

    <!-- フッター -->
    <%- include('./project/_p-footer') %>

    <!-- ページトップ -->
    <%- include('./component/_c-pagetop') %>
  </body>
</html>