<!DOCTYPE html>
<html lang="ja">
  <%- include('./common/_head') %>
  <body>
    <% var location = {page_id:'single-blog'} %>

    <!-- ヘッダー -->
    <header class="l-header">
      <%- include('./project/_p-header') %>
    </header>

    <!-- ブログ詳細記事セクション -->
    <section class="p-single-blog l-single-blog">
      <div class="l-inner">
        <!-- パンくずリスト -->
        <div class="p-single-blog__breadcrumb">
          <%-include('./component/_c-breadcrumb',{
            categoryName:'ブログ記事一覧',
            postName:'ブログ記事詳細',
            src:'blog.html'
            })
          %>
        </div>
      </div>

      <div class="p-single-blog__inner">
        <!-- 記事コンテンツ -->
        <article class="p-single-blog__article">
          <%- include('./project/_p-blog-article') %>
        </article>

        <!-- ページネーション -->
        <div class="p-single-blog__pagination">
          <%- include('./component/_c-pagination-prev-next') %>
        </div>
      </div>
    </section>
    
    <!-- 関連記事セクション -->
    <section class="p-related-blog l-related-blog">
      <div class="p-related-blog__inner l-inner">
        <div class="p-related-blog__title">
          <%- include('./component/_c-related-card-title', {page: location}) %>
        </div>
        <div class="p-related-blog__items">
          <%- include('./project/_p-related-blog-cards') %>
        </div>
      </div>
    </section>

    <!-- お問い合わせ -->
    <section class="l-common-contact">
      <%- include('./project/_p-common-contact') %>
    </section>

    <!-- フッター -->
    <%- include('./project/_p-footer') %>

    <!-- ページトップ -->
    <%- include('./component/_c-pagetop') %>
  </body>
</html>