<!DOCTYPE html>
<html lang="ja">
  <%- include('./common/_head') %>
  <body>
    <% var location = {page_id:'single-blog'} %>

    <!-- ヘッダー -->
    <header class="l-header">
      <%- include('./common/_p-header') %>
    </header>

    <!-- パンくずリスト -->
    <div class="l-breadcrumb">
      <div class="l-inner">
        <%-include('./component/_c-breadcrumb',{
          categoryName:'ブログ記事一覧',
          postName:'ブログ記事詳細',
          src:'blog.html'
          })
        %>
      </div>
    </div>
    
    <!-- ブログ詳細記事セクション -->
    <section class="l-single-blog">
      <%- include('./project/_p-single-blog') %>
    </section>
    
    <!-- 関連記事セクション -->
    <section class="l-related-blog">
      <%- include('./project/_p-related-blog') %>
    </section>

    <!-- お問い合わせ -->
    <section class="l-common-contact">
      <%- include('./project/_p-common-contact') %>
    </section>

    <!-- フッター -->
    <%- include('./common/_p-footer') %>

    <!-- ページトップ -->
    <%- include('./component/_c-pagetop') %>
  </body>
</html>