<!DOCTYPE html>
<html lang="ja">
  <%- include('./common/_head') %>
<body>
	<% var location = {page_id:'single-work'} %>

	<!-- ヘッダー -->
	<header class="l-header">
		<%- include('./common/_p-header') %>
	</header>

	<!-- パンくずリスト -->
	<div class="l-single-breadcrumb">
		<div class="l-inner">
			<%-include('./component/_c-breadcrumb',{
				categoryName:'制作実績',
				postName:'制作実績詳細',
				src:'work.html'
				})
			%>
		</div>
	</div>

	<!-- 制作実績詳細記事セクション -->
	<section class="l-single-work">
		<!-- 制作実績詳細 -->
		<%- include('./project/_p-single-work') %>
	</section>
	
	<!-- 関連記事セクション -->
	<section class="l-related-work">
		<%- include('./project/_p-related-work') %>
	</section>

	<!-- お問い合わせ -->
	<section class="l-common-contact">
		<%- include('./project/_p-common-contact') %>
	</section>

	<!-- フッター -->
	<%- include('./common/_p-footer', {page: location}) %>

	<!-- ページトップ -->
	<%- include('./component/_c-pagetop') %>
</body>
</html>