<!DOCTYPE html>
<html lang="ja">
  <%- include('./common/_head') %>
<body>
	<% var location = {page_id:'single-news'} %>

	<!-- ヘッダー -->
	<header class="l-header">
		<%- include('./common/_p-header') %>
	</header>

	<!-- お知らせ詳細セクション -->
	<section class="p-single-news l-single-news">
		<div class="p-single-news__inner l-inner">

			<!-- パンくずリスト -->
			<div class="p-single-news__breadcrumb">
				<%-include('./component/_c-breadcrumb',{
					categoryName:'お知らせ一覧',
					postName:'お知らせ詳細',
					src:'single-news.html'
					})
				%>
			</div>

      <!-- 記事コンテンツ -->
			<article class="p-single-news__article">
				<%- include('./project/_p-news-article', {page:location}) %>
			</article>

			<!-- ページネーション -->
			<div class="p-single-news__pagination">
				<%- include('./component/_c-pagination-prev-next', {page: location}) %>
			</div>
		</div>
	</section>

	<!-- お問い合わせ -->
	<section class="l-common-contact">
		<%- include('./project/_p-common-contact') %>
	</section>

	<!-- フッター -->
	<%- include('./common/_p-footer') %>

	<!-- ページトップ -->
	<%- include('./component/_c-pagetop') %>
</body>
</html>