<!DOCTYPE html>
<html lang="ja">
  <%- include('./common/_head') %>
  <body>
		<% var location = {page_id:'work'} %>

    <!-- ヘッダー -->
    <header class="l-header">
      <%- include('./common/_p-header') %>
    </header>

    <!-- 下層ファーストビュー -->
    <%- include('./project/_p-sub-fv', {page: location, name: 'work', alt: '制作実績', title: '制作実績'}) %>

    <!-- パンくずリスト -->
    <div class="l-breadcrumb">
      <div class="l-inner">
        <%-include('./component/_c-breadcrumb',{
          categoryName:'制作実績',
          postName:'',
          src:'work.html'
          })
        %>
      </div>
    </div>

    <div class="l-sub-work">
      <%- include('./project/_p-sub-work', {page: location}) %>
    </div>

    <!-- お問い合わせ -->
		<section class="l-common-contact">
			<%- include('./project/_p-common-contact') %>
		</section>

    <!-- フッター -->
    <%- include('./common/_p-footer') %>

    <!-- ページトップ -->
    <%- include('./component/_c-pagetop') %>
  </body>
</html>