<!-- 以下をindex.ejsに記述、singleページに使うときはpage_idの中身とincludeのファイル名変える -->
<%# var location = {page_id:'top'} %>
<%#- include('./project/_p-top-blog', {page: location}) %>


<% if (page.page_id == 'top') { %>
<li class="c-blog-card p-top-blog__item">
  <a href="#" class="c-blog-card__link">
    <div class="c-blog-card__img">
      <img src="<%= src %>" alt="<%= alt %>" />
    </div>
    <div class="c-blog-card__textbox">
      <h3 class="c-blog-card__title"><%= title %></h3>
      <p class="c-blog-card__text"><%= text %></p>
    </div>
    <div class="c-blog-card__meta">
      <span class="c-blog-card__category"><%= category %></span>
      <time class="c-blog-card__time" datetime="2021-07-20"><%= time %></time>
    </div>
  </a>
</li>
<% } else { %>
<li class="c-blog-card p-single-blog__item">
  <a href="#" class="c-blog-card__link">
    <div class="c-blog-card__img">
      <img src="<%= src %>" alt="<%= alt %>" />
    </div>
    <div class="c-blog-card__textbox">
      <h3 class="c-blog-card__title"><%= title %></h3>
      <p class="c-blog-card__text"><%= text %></p>
    </div>
    <div class="c-blog-card__meta">
      <span class="c-blog-card__category"><%= category %></span>
      <time class="c-blog-card__time" datetime="2021-07-20"><%= time %></time>
    </div>
  </a>
</li>
<% } %>
